{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="p-5 text-center bg-image bg-dark" style="
    background-image: url('https://storage.needpix.com/rsynced_images/teal-patterned-abstract-wallpaper.jpg');
    /*
    https://png.pngtree.com/png-clipart/20190401/ourmid/pngtree-seigaiha-seamless-pattern-blue-transparent-png-image_858515.jpg
    https://e7.pngegg.com/pngimages/348/365/png-clipart-pattern-classical-pattern-brown-floral-textile-geometric-pattern-thumbnail.png
    */
    height: 100vh;
  ">
  <div class="mask h-100 text-secondary d-flex flex-row" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100 w-50 text-white">
      <div class="text-white">
        <h1 class="mb-3">QWERTY JOURNALS</h1>
        <h4 class="mb-3">Micro blogging made easy. :D</h4>
        <div class="justify-content-evenly">
            <button class="btn btn-outline-light inline">Log in</button>
            <button class="btn btn-outline-light inline">Sign Up</button>
        </div>
      </div>
      
    </div>
    <div class="separator pattern-diagonal-stripes-sm"></div>
    
    <div class="d-flex justify-content-center align-items-center h-100 w-50 text-white p-3 overflow-hidden">
      
      {% for post in post %}
      <div class="text-white border rounded py-1 px-1">
          <h2>{{post.title}}</h2>
          <h3>By {{post.author}}.</h3>
          <p class="p-0">{{post.content}}</p> 
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}